.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  
    padding-top: 70px;
}

.faculty-container {
    margin: 20px;
    text-align: center;
    width: 150px;
}

.poster {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.initial {
    color: white;
    font-size: 36px;
}

.details {
    margin-top: 8px; 
}

.show-details {
    text-decoration: none;
    color: #3498db;
    border: 1px solid #3498db;
    padding: 8px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  
    /*margin-left: 2px; /* Adjust this value as needed */
}

.show-details:hover {
    background-color: #3498db;
    color: white;
}
