{% extends 'base.html' %}
{% block title %} Faculty Description {% endblock title %}
{% block body %}
<body>
    <div class="container mt-5">
        <h2 class="text-center">Faculty Details</h2>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 30%;">Full Name:</th>
                                <td>{{ faculty.full_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Initial:</th>
                                <td>{{ faculty.initial }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Email:</th>
                                <td>{{ faculty.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Thesis Supervision Availability:</th>
                                <td>{{ faculty.thesis_supervision }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Research Interest:</th>
                                <td>{{ faculty.research_interest }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center mt-4">
                    <!-- Replace 'filename.jpg' with your image file name and the correct path -->
                    <img src="{{ url_for('serve_file', filename=faculty.routine) }}" alt="Faculty Image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock body %}
