{% extends 'base.html' %}
{% block title %} Faculty {% endblock title %}
{% block body %}

<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <div class="container">
        {% for f in faculty %}
        <!-- Faculty Containers -->
        <div class="faculty-container">
            <div class="poster">
                <span class="initial">{{f.initial}}</span>
            </div>
            <div class="details">
                <a href="/faculty_description/{{f.sno}}" class="show-details">Show Details</a>
            </div>
        </div>
        {% endfor %}
       


        <!-- Add more faculty containers here -->

    </div>
</body>
</html>

{% endblock body %}
