{% extends 'base.html' %}
{% block title %} Faculty {% endblock title %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<input type="checkbox" id="openSidebar">
<label for="openSidebar" class="sidebaricon">
    <div class="spinner top"></div>
    <div class="spinner middle"></div>
    <div class="spinner bottom"></div>
</label>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<body>
<div id="sidebar">
    <ul class="menu">

        <li class="dropdown"><a href="#">CSE <span>&rsaquo;</span></a>
            <ul class="coursesidebar">
                <a href="/cse1">100 level courses</a>
                <a href="/cse2">200 level courses</a>
                <a href="/cse3">300 level courses</a>
                <a href="/cse4">400 level courses</a>
            </ul>
        </li>

        <li class="dropdown"><a href="#">MNS <span>&rsaquo;</span></a>
            <ul class="coursesidebar">
                <a href="#">100 level courses</a>
                <a href="#">200 level courses</a>
                <a href="#">300 level courses</a>
            </ul>

        </li>
        <li class="dropdown"><a href="#">COD <span>&rsaquo;</span></a>
            <ul class="coursesidebar">
                <a href="#">100 level courses</a>
                <a href="#">200 level courses</a>
                <a href="#">300 level courses</a>
            </ul>

        </li>
        <li class="dropdown"><a href="#">ELECTIVES <span>&rsaquo;</span></a>
            <ul class="coursesidebar">
                <a href="#">100 level courses</a>
                <a href="#">200 level courses</a>
                <a href="#">300 level courses</a>
            </ul>

        </li>
        <li> <a href="/postt">Thesis</a></li>
        <li><a href="/courseinfo">Course Info</a></li>
        <li> <a href="#">Contact Us</a></li>
        <li> <a href="https://www.bracu.ac.bd/sites/default/files/academics/Year-planner/Year%20Planner%202023%20Trimester%20-%20Final%20Version-4.pdf">Calendar</a></li>
    </ul>
</div>

<img src="static/pic/study" alt="">
<div style=" display: flex; justify-content: center; align-items: center; background-color: rgb(233, 245, 250);background-repeat: no-repeat;  height: 100%; padding: 10px 50px;">
    <img src="{{ url_for('static', filename='pic/brac_logo.gif') }}">
<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <div class="container">
        {% for f in faculty %}
        <!-- Faculty Containers -->
        <div class="faculty-container">
            <div class="poster">
                <span class="initial">{{f.initial}}</span>
            </div>
            <div class="details">
                <a href="/faculty_description/{{f.sno}}" class="show-details">Show Details</a>
            </div>
        </div>
        {% endfor %}
       


        <!-- Add more faculty containers here -->

    </div>
</body>
</html>

{% endblock body %}
