{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
welcome {{request.user}}
{% block body %}

<input type="checkbox" id="openSidebar">
<label for="openSidebar" class="sidebaricon">
    <div class="spinner top"></div>
    <div class="spinner middle"></div>
    <div class="spinner bottom"></div>
</label>
<div id="sidebar">
    <ul class="menu">

        <li class="dropdown"><a href="#" > CSE <span>&rsaquo;</span></a>
            <ul class="coursesidebar">
                 <a href="/cse1">100 level courses</a>
                 <a href="/cse2">200 level courses</a>
                <a href="/cse3">300 level courses</a>
                <a href="/cse4">400 level courses</a>
            </ul>
        
        </li>

        <li class="dropdown"><a href="#" > MNS <span>&rsaquo;</span></a>
            <ul class="coursesidebar">
                 <a href="#">100 level courses</a>
                 <a href="#">200 level courses</a>
                
            </ul>
        
        </li>
        <li class="dropdown"><a href="#" > COD <span>&rsaquo;</span></a>
            <ul class="coursesidebar">
                 <a href="#">100 level courses</a>
                 <a href="#">200 level courses</a>
                <a href="#">300 level courses</a>
            </ul>
        
        </li>
        <li class="dropdown"><a href="#" > ELECTIVES <span>&rsaquo;</span></a>
            <ul class="coursesidebar">
                 <a href="#">100 level courses</a>
                 <a href="#">200 level courses</a>
                <a href="#">300 level courses</a>
            </ul>
        
        </li>
        <li> <a href="#">Thesis</a></li>
        <li> <a href="/faculty">Faculty Informations</a></li>
        <li><a href="/CourseInformation">Course Info</a></li>
        <li> <a href="#">Contract Us</a></li>
        <li> <a href="https://www.bracu.ac.bd/sites/default/files/academics/Year-planner/Year%20Planner%202023%20Trimester%20-%20Final%20Version-4.pdf">calender</a></li>


    </ul>
     
</div>
<div class="main">
    
    <div class="wrapper">
        <div class="service_section">
            <div class="service1">
                <div class="content">
                    <h1>Message From The Founder</h1>
    <hr>
    <p> Since its inception in 2001, Brac University has become one of the most reputed educational institution in Bangladesh. We have focused on generating new knowledge and promoting critical thinking amongst our students, graduating more than 7,000 young men and women during this time.</p>
    <button><a href="https://www.bracu.ac.bd/message-founder-and-chairperson-emeritus"> View More</a> </button>

                </div>

            </div>
            <div class="service1">
               
                    <div class="content_img"><img src="/static/pic/Abed.jpg" height="220px" alt="">
                    </div>
            </div>

        </div>

    </div>
    
</div>

</body>
{% endblock body %}