{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
welcome {{request.user}}
{% block body %}

<div class="main">

    <div class="wrapper">
        <div class="service_section">
            <div class="service1">
                <div class="content">
                    <h1>Message From The Founder</h1>
                    <hr>
                    <p> Since its inception in 2001, Brac University has become one of the most reputed educational
                        institution in Bangladesh. We have focused on generating new knowledge and promoting critical
                        thinking amongst our students, graduating more than 7,000 young men and women during this time.
                    </p>
                    <button><a href="https://www.bracu.ac.bd/message-founder-and-chairperson-emeritus"> View More</a>
                    </button>

                </div>

            </div>
            <div class="service1">

                <div class="content_img"><img src="/static/pic/Abed.jpg" height="220px" alt="">
                </div>
            </div>

        </div>

    </div>

</div>

</body>
{% endblock body %}