<!DOCTYPE html>
<html>
<head>
    <title>View Files</title>
</head>
<body>

    <ul>
        {% for base64_image, resource in base64_images %}
            <li>
                <a href="javascript:void(0);" onclick="openFile('{{ base64_image }}', 'image')">View Images: {{ resource.Course_Code }}</a>
            </li>
            <script>
                function openFile(base64_image, type) {
                    var newWindow = window.open("", "_blank");
                    
                        newWindow.document.write('<html><head><title>Image</title></head><body><img src="data:image/jpeg;base64,' + base64_image+ '" alt="Image"></body></html>');
                  
                    newWindow.document.close();
                }
            </script>
        {% endfor %}
 

    
</body>
</html>
